<div>
    <form name="formFileUpload" novalidate enctype="multipart/form-data">
        
        File Upload:
        <div name="htmlFile" class="button" ng-file-select ng-model="htmlFile" accept=".html" ng-multiple="false" ng-accept="'*.html'" required>Select Files</div>


        Drop File:
        <div ng-file-drop ng-file-select ng-model="htmlFile" class="drop-box" drag-over-class="dragover" ng-multiple="false" allow-dir="true" accept=".html" ng-accept="'*.html'">Drop html or images here or click to upload</div>
        <div ng-no-file-drop>File Drag/Drop is not supported for this browser</div>

        <div ng-show="formFileUpload.$submitted || formFileUpload.file.$touched">
            <div ng-show="formFileUpload.htmlFile.$error.required">Selecciones un archivo</div>
        </div>

        <ul>
            <li ng-repeat="f in htmlFile" style="font:smaller">{{f.name}}</li>
        </ul>

        Responsive:
        <input type="checkbox" ng-model="isResponsive" ng-true-value="'YES'" ng-false-value="'NO'">
        <br>
        <br>

        <button type="submit" ng-click="submitFile(formFileUpload)">Enviar</button>

    </form>

</div>
<br><br>
<ng-include src="'views/msjValidation.html'"></ng-include>
