<div>
    <form name="formFileUpload" novalidate>
        File Upload:
        <div class="button" ng-file-select ng-model="files" accept=".html" ng-multiple="false" ng-accept="'*.html'" ng-multiple="false">Select Files</div>


        Drop File:
        <div ng-file-drop ng-file-select ng-model="files" class="drop-box" drag-over-class="dragover" ng-multiple="false" allow-dir="true" accept=".html" ng-accept="'*.html'">Drop html or images here or click to upload</div>
        <div ng-no-file-drop>File Drag/Drop is not supported for this browser</div>
        <ul>
            <li ng-repeat="f in files" style="font:smaller">{{f.name}}</li>
        </ul>
        <input type="checkbox" ng-model="checkResponsive" id="checkResponsibe" name="checkResponsibe" value="true"> Responsive
        <br>
        <br>

        <button type="submit" ng-click="submitFile(formFileUpload)">Enviar</button>

    </form>

</div>
