html{background-color: #f5f3f3; height: 100% }
h1{ color: #fffffe; font-size: 34px; font-weight: bold; margin-bottom: 15px; text-transform: uppercase; font-family: 'Ubuntu', sans-serif; }
h2{ color: #e5c2f9; font-size: 20px; font-family: 'Ubuntu', sans-serif; }

header #top { background-color: #fff; box-sizing: border-box; height: 60px; padding: 0 20px; width: 100%; }
header #mainHeader { background: #4e2e83 url('../img/header.jpg') center top no-repeat; box-sizing: border-box; height: 237px; padding-top: 50px; width: 100%; }

body .wrapper { width: 100%; max-width: 900px; margin: 0 auto; }
header #mainHeader .wrapper { overflow: hidden; }
#main { background-color: #f5f3f3; }
#main h4{ font-size: 36px; color:#000; margin-top: 20px; }

.button {
    -moz-appearance: button;
    /* Firefox */
    
    -webkit-appearance: button;
    /* Safari and Chrome */
    
    padding: 10px;
    margin: 10px;
    width: 100px;
}
.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 200px;
    height: 85px;
    text-align: center;
    padding-top: 25px;
    margin: 10px;
}
.dragover {
    border: 5px dashed blue;
}
